{% extends 'base.html.twig' %}

{% block title %}Post: {{ post.title }}{% endblock %}

{% block body %}
    <div class="container flex-fill">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                    <div class="card my-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text" style="font-style: italic;">{{ post.chapo|raw  }}</p>
                            <p class="card-text">{{ post.content|raw }}</p>
                            <p class="card-text" style="font-weight: bold;">{{ post.author }}</p>
                            <a href="/posts" class="btn btn-primary">Retour à la liste des articles &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                        <span class="float-right">
                            {{ post.modifyAt is empty
                            ? 'Publié le ' ~ post.createdAt|date("d/m/Y à H\\hi")
                            : 'Modifié le ' ~ post.modifyAt|date("d/m/Y à H\\hi")
                            }}
                        </span>
                        </div>
                    </div>
                    {% for comment in comments %}
                        {% if comment.status is same as 'Approuvé' or comment.status is same as 'Signalé'%}
                            <div class="card my-4">
                                <label class="card-header card-header-sm" for="commentForm">Commentaire #{{ comment.id }}</label>
                                <div class="card-body card-body-sm">
                                    {{ comment.content }}
                                    {% if comment.status is same as 'Signalé' %}
                                       <a class="btn btn-danger float-right disabled" href="/comment/{{ comment.id }}/report">Commentaire déjà Signalé</a>
                                    {% else%}
                                    <a class="btn btn-danger float-right" href="/comment/{{ comment.id }}/report">Signaler</a>
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <span class="float-right">
                                    {{ comment.modifyAt is empty
                                    ? 'Publié le ' ~ comment.createdAt|date("d/m/Y à H\\hi")
                                    : 'Modifié le ' ~ comment.modifyAt|date("d/m/Y à H\\hi")
                                    }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                <div class="card my-4">
                    <label class="card-header card-header-sm" for="commentForm"><i class="fas fa-comment"></i> Laisser un commentaire :</label>
                    <div class="card-body card-body-sm">
                        <form action="/post/{{ post.id }}" method="post">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" name="content" id="commentForm" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                    <div class="card-footer text-danger font-weight-bold">
                        Votre commentaire devra être validé par la modération avant d'être publié !
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
