<div class="tab-pane fade" id="v-pills-commentPendingReview" role="tabpanel"
     aria-labelledby="v-pills-commentReported-tab">
    <div class="row">
        {% set hasCommentPendingReview = false %}
        {% for comment in comments %}
            {% if comment.status is same as 'Besoin d\'un examen' %}
                {% set hasCommentPendingReview = true %}
                <div class="col-md-4">
                    <div class="card my-4">
                        <label class="card-header card-header-sm" for="commentForm">Commentaire
                            #{{ comment.id }}</label>
                        <div class="card-body card-body-sm">
                            {{ comment.content }}
                            <hr>
                            <p class="lead">Statut :
                                <span class="badge badge-pill badge-warning">{{ comment.status }}</span>
                            </p>
                            <a class="btn btn-success"
                               href="/admin/post/{{ comment.postId }}/comment/{{ comment.id }}/approve">Approuver</a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModalComment{{ comment.id }}">Supprimer</button>
                            <div class="modal fade" id="deleteModalComment{{ comment.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Suppression du commentaire</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous sûr de vouloir supprimer ce commentaire ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a href="/admin/comment/{{ comment.id }}/delete" class="btn btn-danger">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="float-right">
                                {{ comment.modifyAt is empty
                                ? 'Publié le ' ~ comment.createdAt|date("d/m/Y à H\\hi")
                                : 'Modifié le ' ~ comment.modifyAt|date("d/m/Y à H\\hi")
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if hasCommentPendingReview == false %}
            <div class="col-12 text-center">
                <div class="alert alert-warning">
                    <strong>Attention :</strong> Aucun commentaire(s), n'a besoin d'être examiné.
                </div>
            </div>
        {% endif %}
    </div>
</div>
